body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

.header {
    display: flex;
    align-items: center;
}

#request-tokens {
    margin-left: 1rem;
    margin-bottom: 0rem;
}

#note-form {
    display: flex;
    flex-direction: column;
}

input, textarea, button {
    margin-bottom: 1rem;
}